if which nix >/dev/null 2>&1; then
    use nix
else
    PYTHON_VERSION="3.8.17"
    if which pyenv >/dev/null 2>&1; then
        pyenv versions | sed 's|^\*| |g' | tr -s ' ' | cut -d' ' -f2 | grep $PYTHON_VERSION ||
            pyenv install $PYTHON_VERSION
    fi
fi
if [ ! -d env ]; then
    python -m venv env
fi
. env/bin/activate
